<html oncontextmenu="return false">
	<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
	
</script>
<h1>hello</h1>
<form method="POST" action="/contact/save/">
	<input type="text" name="name"><br/>
	<input type="text" name="phone"><br/>
	<input type="submit" value="save">
	{% csrf_token %}
</form>
<form method="POST" action="" id="form">
	<input type="text" name="phone"><br/>
	{% csrf_token %}
</form>
<br/>
<input type="button" name="sendButton" id="sendButton" value="Get details">
<div id="resultDiv"></div>
{% if name %}
   <p> আসসালামুয়ালাইকুম বন্ধু {{ name }}, তুমি কেমন আছ ?</p>
{% endif %}
<script>
	$(document).ready(function() {
	window.console.log = function(){
    console.error('The developer console is temp...');
    window.console.log = function() {
        return false;
    }
}

	$("#sendButton").click(function(){
	alert("hello");
		$.ajax({
		url: 'http://127.0.0.1:8000/contact/test/',
		type: 'POST', // This is the default though, you don't actually need to always mention it
		data: $("#form").serialize(),
		success: function(data) {
			alert(data);
		},
		error: function(data) { 
			alert('Got an error dude');
		}
		});
	});

});
</script>
	</body>
</html>