<body style="height:96%">
<style type="text/css">
	.ms-parent{ width: 320px !important;}
</style>
<div  style=" width:100%; margin:auto">
	Hello World!!!<p>Today is {{today}}</p>
      We are
      {% if today.day == 1 %}
      the first day of month.
      {% elif today.day == 30 %}
      
      the last day of month.
      {% else %}
      
      I don't know.
      {%endif%}
      
      <p>
         {% for day in days_of_week %}
         {{day}}
      </p>
		
      {% endfor %}
       
</div>