<!DOCTYPE html>
<html>
	<head>
	{% load static  %}
	<script src="{% static  'form.js'%}"></script>
	</head>
	<body>
	<input type="button" value=" add " onclick="add_text()">
	<br/>
	<span id="change_contant" style="display:none"> hello world</span>
	</body>
	
</html>